In [1]:
import numpy as np
import pandas as pd
import math

In [3]:
psi_test = pd.read_csv("/Users/reejungkim/Documents/Git/Credit_model/test_psi.csv")

In [4]:
psi_test.shape

(64, 4)

In [5]:
psi_test.head()

     kind  id  engine_type  grade
0  201512   1            0      5
1  201512   2            0      5
2  201512   3            1      4
3  201512   4            1      4
4  201512   5            0      7

In [21]:
psi_test.kind.unique()

array([201512, 201612])

In [22]:
grd_dist_dev = pd.DataFrame(
    psi_test[psi_test["kind"]==201512].groupby("grade")["id"].count().reset_index()
)

In [23]:
grd_dist_dev

   grade  id
0      1   2
1      2   2
2      3   3
3      4   4
4      5   5
5      6   3
6      7   4
7      8   3
8      9   3
9     10   3

In [24]:
grd_dist_val = pd.DataFrame(
    psi_test[psi_test["kind"]==201612].groupby("grade")["id"].count().reset_index())

In [25]:
grd_dist_val

   grade  id
0      1   2
1      2   2
2      3   3
3      4   4
4      5   5
5      6   3
6      7   4
7      8   4
8      9   3
9     10   2

In [26]:
grd_dist_dev = grd_dist_dev.rename(columns={"id":"tot_cnt"})
grd_dist_val = grd_dist_val.rename(columns={"id":"tot_cnt"})

In [27]:
grd_dist_dev["tot_pct"] = grd_dist_dev["tot_cnt"]/grd_dist_dev["tot_cnt"].sum()
grd_dist_val["tot_pct"] = grd_dist_val["tot_cnt"]/grd_dist_val["tot_cnt"].sum()

In [29]:
psi_table = pd.merge(grd_dist_dev, grd_dist_val, how='left', on ='grade')

In [32]:
psi_table

   grade  tot_cnt_x  tot_pct_x  tot_cnt_y  tot_pct_y
0      1          2    0.06250          2    0.06250
1      2          2    0.06250          2    0.06250
2      3          3    0.09375          3    0.09375
3      4          4    0.12500          4    0.12500
4      5          5    0.15625          5    0.15625
5      6          3    0.09375          3    0.09375
6      7          4    0.12500          4    0.12500
7      8          3    0.09375          4    0.12500
8      9          3    0.09375          3    0.09375
9     10          3    0.09375          2    0.06250

In [34]:
for i in range(psi_table.grade.size):
    psi_table.loc[i, "psi"] = (psi_table.loc[i, "tot_pct_x"] - psi_table.loc[i, "tot_pct_y"])*math.log(psi_table.loc[i, "tot_pct_x"]/psi_table.loc[i, "tot_pct_y"])

In [35]:
round(psi_table.psi.sum(), 8)

0.02166085