In [1]:
import pandas as pd
import numpy as np
import math

data = pd.read_csv("/Users/reejungkim/Documents/Git/Credit_model/test_iv.csv")

In [2]:
data.shape

(32, 3)

In [3]:
data.head()

            car_kind   mpg  vs
0          Mazda RX4  21.0   0
1      Mazda RX4 Wag  21.0   0
2         Datsun 710  22.8   1
3     Hornet 4 Drive  21.4   1
4  Hornet Sportabout  18.7   0

In [4]:
data.vs.unique()

array([0, 1])

In [5]:
quantile = data.mpg.quantile(q=list(np.arange(0.05, 1, 0.05)),
                            interpolation ='nearest')

In [6]:
data['mpg_grp'] = 0

In [7]:
for i in range(data.mpg.size):
    if data.loc[i, 'mpg'] <= quantile.iloc[7]:
        data.loc[i, 'mpg_grp']=1
    elif data.loc[i, 'mpg'] <= quantile.iloc[14]:
        data.loc[i, 'mpg_grp']=1
    else: data.loc[i, "mpg_grp"] = 3

In [8]:
data['bad_yn'] = np.where(data.vs == 0,1,0)

In [9]:
iv = data.groupby('mpg_grp')[['vs', 'bad_yn']].sum().reset_index()

In [10]:
iv['good_pct'] = iv.vs / iv.vs.sum() #우량집단의 mpr_grp구간별 구성비 산출

In [11]:
iv['bad_pct'] = iv.bad_yn / iv.bad_yn.sum() #불량집단의 mpr_grp구간별 구성비 산출

In [12]:
for i in range(iv.mpg_grp.size):
    iv.loc[i, 'IV'] = (iv.loc[i, 'good_pct'] - iv.loc[i, 'bad_pct'])*math.log(iv.loc[i, "good_pct"]/iv.loc[i, "bad_pct"])

In [13]:
iv

   mpg_grp  vs  bad_yn  good_pct   bad_pct        IV
0        1   8      17  0.571429  0.944444  0.187425
1        3   6       1  0.428571  0.055556  0.762099

In [14]:
round(iv.IV.sum(), 7)

0.9495236